body {
  margin: 0;
}

.clerfix {
    overflow: auto;
}

/* Disable ugly boxes around images in IE10 */
a {
    color: black;
}

a img{
  border: 0px;
}

p {
    font-family: 'Roboto Slab', serif;
            
    margin-bottom: 0px;
}

h5,h3 {
            font-family: 'Playfair Display', serif;
            line-height: 1.2;
            margin-top: 0px;
            margin-bottom: 0px;
    margin-top: 8px;
        }

h6 {
    font-family: 'Roboto+Slab', serif;
            line-height: 1.5;
            margin-top: 0px;
            margin-bottom: 0px;
}


#over img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.docs-text-styling a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.clearfix{
    overflow: auto;
}


.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Content card css starts */

.datelinks {
    max-height: 30px;
    margin-bottom: 12px;
    margin-top: 12px;
    white-space:nowrap;
}

.today_date {
    text-align: center;
    color: #7d7d7d;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
        
}

.post_card_headline {
    overflow-wrap: break-word;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.post_card_category {
    padding-bottom: 4px;
    font-size: 12px;
    color: #1d2129 !important;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.post_card_summary {
    padding-top: 8px;
    overflow-wrap: break-word;
    line-height: 21px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.post_card_publish_date {
    padding-top: 8px;
    font-size: 12px;
    font-style: italic;
    color: #90949c;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

.morelink {
    padding-top: 8px;
    font-size: 12px;
    font-style: italic;
    color: #90949c;
    line-height: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}

.img_all {
    width: 100%; 
    object-fit:cover;
}

.post_card_img { 
    padding: 8px; 
}

.post_img {
    min-height: 180px;
}

.post_card {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px !important;
}

.post_card_info {
    padding: 8px
}

.hedline_divider {
    display: block;
    max-width: 150px;
    border-top:2px dotted;
    margin-top: 4px;
    margin: 1 auto 6px; 
}

.card_divider {
    display: block;
    width: 100%;
    border-top:2px underline;
    margin-top: 4px;
    margin-bottom: 4px; 
}

.post_ad_img { 
    margin-top: 8px; 
    margin-left: 8px;
    margin-right: 8px;
}

.ad_img_small {
    min-height: 180px;
    max-height: 200px;
    
}

.ad_img_long {
    min-height: 180px;
    max-height: 400px;
   
}

.parent_img {
  position: relative;
}

.child_img {
  position: absolute;
    max-height: 60px;
  bottom: 2px;
  right: 2px;
}

.detail_img{
    height: 100%;
}

.detail_card_headline {
    overflow-wrap: break-word;
    line-height: 36px;
    padding-top: 8px;
    padding-bottom: 18px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.detail_card_category {
    font-size: 12px;
    color: #1d2129 !important;
    margin-top: 0px;
    margin-bottom: 0px;
}

.detail_card_detail {
    padding-bottom: 18px;
    overflow-wrap: break-word;
    font-size: 18px !important;
    line-height: 2;
    margin-top: 0px;
    margin-bottom: 0px;
}

.detail_card_publish_date {
    padding-top: 12px;
    font-size: 14px;
    font-style: italic;
    color: #90949c;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
}

.detail_card_viewer {
    padding-top: 12px;
    font-size: 14px;
    font-style: italic;
    color: #90949c;
    margin-top: 0px;
    margin-bottom: 0px;
    float: right;
}

.about_text {
    padding-bottom: 18px;
    overflow-wrap: break-word;
    font-size: 16px !important;
    line-height: 2;
    margin-top: 0px;
    margin-bottom: 0px;
}

.head_divider {
    display: block;
    width: 100%;
    border-top:2px solid black;
    margin-top: 4px;
    margin-bottom: 16px; 
    
}

.mdl-textfield {
  width: 100%;
}

.pagination_center{
    margin-top: 16px !important; 
    margin-bottom: 16px !important;
    display: table !important;
    margin: 0 auto !important;
}

.pdf_card {
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 24px !important;
}


/* Content card css ends */


/* Footer Content Starts */

.docs-footer.mdl-mini-footer {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 120px
}

.docs-footer.mdl-mini-footer,
.docs-footer.mdl-mini-footer ul {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.docs-footer.mdl-mini-footer ul {
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.docs-footer.mdl-mini-footer ul>li>a {
    margin: 0 8px;
    font-weight: 400;
    font-size: 12px
}

.docs-footer .docs-link-list li {
    margin-left: .5em;
    margin-right: .5em
}

.docs-footer.mdl-mini-footer .mdl-mini-footer--social-btn {
    background-color: transparent;
    margin: 0 16px;
    width: 24px;
    height: 24px
}

.docs-footer.mdl-mini-footer .social-btn {
    display: block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer
}

.social-btn__twitter {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_white_24dp.png')
}

.social-btn__facebook {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_facebook_white_24dp.png');
}

.social-btn__instagram {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_instagram_white_24dp.png');
}

.social-btn__youtube {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_youtube_white_24dp.png');
}

.social-btn__gplus {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_gplus_white_24dp.png')
}

/* Footer Contents Ends */


.android-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.android-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.android-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}

.android-mobile-title {
  display: none !important;
}


.android-logo-image {
  height: 28px;
  width: 140px;
}


.android-header {
  /*overflow: visible;*/
  background-color: white;
    background: linear-gradient(to bottom, #fcc99b 0%, #7ac898 100%);
}

  .android-header .material-icons {
    color: #000000 !important;
  }

  .android-header .mdl-layout__drawer-button {
    background: transparent;
    color: #000000;
  }

  .android-header .mdl-navigation__link {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
  }

  .android-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .android-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .android-search-box.is-focused + .android-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .android-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .android-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #8bc34a;
    }

  .android-search-box {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .android-more-button {
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.android-drawer {
  border-right: none;
}

  .android-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .android-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #000000;
      font-weight: 700;
  }

  .android-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .android-drawer .mdl-layout-title {
    position: relative;
    background-image: url("../img/savallg.jpg");
    height: 160px;
  }

    .android-drawer .android-logo-image {
      position: absolute;
      bottom: 16px;
    }

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500;
}

.android-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.android-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.android-create-character {
  font-size: 21px;
  padding-top: 400px;
}

  .android-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
  }

.android-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.android-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.android-screen {
  text-align: center;
}

.android-screen .android-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.android-image-link {
  text-decoration: none;
}

.android-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .android-wear .android-screen-image {
    width: 40%;
    z-index: 1;
  }


.android-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

  .android-phone .android-screen-image {
    width: 100%;
    z-index: 1;
  }


.android-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

  .android-tablet .android-screen-image {
    width: 100%;
    z-index: 1;
  }

  .android-tablet .android-link {
    display: block;
    z-index: 2;
  }


.android-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

  .android-tv .android-screen-image {
    width: 100%;
    z-index: 1;
  }


.android-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

  .android-auto .android-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
  }

.android-link {
  text-decoration: none;
  color: #8bc34a !important;
}

  .android-link:hover {
    color: #7cb342 !important;
  }

  .android-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

.android-alt-link {
  text-decoration: none;
  color: #64ffda !important;
  font-size: 16px;
}

  .android-alt-link:hover {
    color: #00bfa5 !important;
  }

  .android-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.android-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .android-more-section .android-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }

.android-card-container {
}

  .android-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .android-card-container .mdl-card__media img {
      width: 100%;
    }

  .android-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .android-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .android-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 56px;
  }

  .android-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .android-card-container .mdl-card__actions a {
    border-top: none;
    font-size: 16px;
  }

.android-footer {
  background-color: #fafafa;
  position: relative;
}

  .android-footer a:hover {
    color: #8bc34a;
  }

  .android-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .android-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .android-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .android-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .android-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }


.android-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .android-navigation-container {
    display: none;
  }

  .android-title {
    display: none !important;
  }

  .android-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
  .android.android-search-box.is-focused ~ .android-mobile-title,
  .android-search-box.is-focused + .android-navigation-container + .android-mobile-title {
    opacity: 0;
  }

  .android-more-button {
    display: none;
  }

  .android-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .android-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .android-be-together-section {
    height: 350px;
  }

  .android-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .android-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .android-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .android-create-character img {
    height: 12px;
  }

  .android-fab {
    display: none;
  }

  .android-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }

  .android-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}


/* old card */

.portfolio-header {
  position: relative;
  background-image: url(../images/header-bg.jpg);
}

.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.is-compact .mdl-layout__title span {
  display: none;
}

.portfolio-logo-row {
  min-height: 200px;
}

.is-compact .portfolio-logo-row {
  min-height: auto;
}

.portfolio-logo {
  background: url(../images/logo.png) 50% no-repeat;
  background-size: cover;
  height: 160px;
  width: 200px;
  margin: auto auto 10px;
}

.is-compact .portfolio-logo {
  height: 50px;
  width: 70px;
  margin-top: 7px;
}

.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}

.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
  position: relative;
  font-weight: bold;
  font-size: 18px;
}

.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255,64,129);
  left: 15%;
}

.mdl-card__supporting-text {
  padding-top: 0;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-full-bg {
  background: url(../images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
  background: url(../images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
  background: url(../images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
  padding-bottom: 0;
}

.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-copy {
  max-width: 700px;
}

.no-padding {
  padding: 0;
}

.no-left-padding{
  padding-left: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.padding-top {
  padding: 10px 0 0;
}

.portfolio-share-btn {
  position: relative;
  float: right;
  top: -4px;
}

.demo-card-event > .mdl-card__actions {
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-contact .mdl-textfield {
  width: 100%;
}

.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}

/* library */
.dialog-container,
.loading-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.dialog-container > div {
    position: relative;
    width: 90%;
    max-width: 900px;
    min-height: 25px;
    margin: 10% auto;
    z-index: 99999;
    padding: 16px 16px 16px;
}

.dialog-button-bar {
    text-align: right;
    margin-top: 8px;
}

.loading-container > div {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 10% auto;
    z-index: 99999;
}

.loading-container > div > div {
    width: 100%;
    height: 100%;
}



.fb_frame {
    margin: 8px;
    
}
